In [219]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import pandas.io.sql as psql
import mysql.connector

### Store World Cup Matches CSV into DataFrame

In [220]:
csv_file = "Resources/WorldCupMatches.csv"
WorldCupMatches_df = pd.read_csv(csv_file, encoding="ISO-8859-1",names=['Year','Datetime','Stage','Stadium','City','HomeTeamName','HomeTeamGoals','AwayTeamGoals','AwayTeamName','WinConditions','Attendance','HalfTimeHomeGoals','HalfTimeAwayGoals','Referee','Assistant1','Assistant2','RoundID','MatchID', 'HomeTeamInitials','AwayTeamInitials'])
WorldCupMatches_df.tail()

,Year,Datetime,Stage,Stadium,City,HomeTeamName,HomeTeamGoals,AwayTeamGoals,AwayTeamName,WinConditions,Attendance,HalfTimeHomeGoals,HalfTimeAwayGoals,Referee,Assistant1,Assistant2,RoundID,MatchID,HomeTeamInitials,AwayTeamInitials
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Create new data with select columns

In [221]:
matches_df = WorldCupMatches_df[['Year', 'Stage', 'HomeTeamName', 'HomeTeamGoals', 'AwayTeamGoals',
                                'AwayTeamName', 'MatchID', 'HomeTeamInitials', 'AwayTeamInitials', ]].copy()
matches_df=matches_df.dropna() 
matches_df.tail()

,Year,Stage,HomeTeamName,HomeTeamGoals,AwayTeamGoals,AwayTeamName,MatchID,HomeTeamInitials,AwayTeamInitials
848,2014,Quarter-finals,Netherlands,0,0,Costa Rica,300186488,NED,CRC
849,2014,Semi-finals,Brazil,1,7,Germany,300186474,BRA,GER
850,2014,Semi-finals,Netherlands,0,0,Argentina,300186490,NED,ARG
851,2014,Play-off for third place,Brazil,0,3,Netherlands,300186502,BRA,NED
852,2014,Final,Germany,1,0,Argentina,300186501,GER,ARG

### Store World Cup Players CSV into a DataFrame

In [222]:
csv_file = "Resources/WorldCupPlayers.csv"
WorldCupPlayers_df = pd.read_csv(csv_file, encoding="ISO-8859-1",names=["RoundID","MatchID","TeamInitials","CoachName","LineUp","ShirtNumber","PlayerName","Position","Event"])
WorldCupPlayers_df = WorldCupPlayers_df.iloc[1:,]
WorldCupPlayers_df.head()

,RoundID,MatchID,TeamInitials,CoachName,LineUp,ShirtNumber,PlayerName,Position,Event
1,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
2,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
3,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
4,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
5,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN

### Clean DataFrame

In [223]:
players_df = WorldCupPlayers_df[["MatchID", "TeamInitials", "LineUp", "PlayerName", "Event"]].copy()
players_df.tail()

         MatchID TeamInitials LineUp PlayerName       Event
37780  300186501          ARG      N    ALVAREZ         NaN
37781  300186501          GER      N    KHEDIRA         NaN
37782  300186501          ARG      N     AGUERO  IH46' Y65'
37783  300186501          GER      N    MUSTAFI         NaN
37784  300186501          ARG      N    BASANTA         NaN

#### Removed the hyphens from the column headers Runners-Up from WORLDCUPS and Line-up from Players as it cannot be used in SQL

In [224]:
csv_file = "Resources/WorldCups.csv"
WorldCups = pd.read_csv(csv_file, encoding="ISO-8859-1", names=["Year", "Country", "Winner", "RunnersUp","Third","Fourth","GoalsScored","QualifiedTeams","MatchesPlayed","Attendance"])
WorldCups = WorldCups.iloc[1:,]
WorldCups["Winner"]= WorldCups["Winner"].replace("Germany FR", "Germany")
WorldCups['RunnersUp']= WorldCups['RunnersUp'].replace('Germany FR', "Germany")
WorldCups['Third']= WorldCups['Third'].replace('Germany FR', 'Germany')
WorldCups['Fourth']= WorldCups['Fourth'].replace('Germany FR', 'Germany')

WorldCups

,Year,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
1,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
2,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
3,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
4,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
5,1954,Switzerland,Germany,Hungary,Austria,Uruguay,140,16,26,768.607
6,1958,Sweden,Brazil,Sweden,France,Germany,126,16,35,819.810
7,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
8,1966,England,England,Germany,Portugal,Soviet Union,89,16,32,1.563.135
9,1970,Mexico,Brazil,Italy,Germany,Uruguay,95,16,32,1.603.975
10,1974,Germany,Germany,Netherlands,Poland,Brazil,97,16,38,1.865.753
11,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
12,1982,Spain,Italy,Germany,Poland,France,146,24,52,2.109.723
13,1986,Mexico,Argentina,Germany,France,Belgium,132,24,52,2.394.031
14,1990,Italy,Germany,Argentina,Italy,England,115,24,52,2.516.215
15,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
16,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
17,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
18,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
19,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
20,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [225]:
csv_file = "Resources/GLOBSES.csv"
GLOBES_df = pd.read_csv(csv_file, encoding="ISO-8859-1") ## Had to rename from GLOB.SES and to
## and we had to determine the encoding character set
GLOBES_df['country']= GLOBES_df['country'].replace('Czech Republic', 'Czechoslovakia')
GLOBES_df["country"]= GLOBES_df["country"].replace("United Kingdom", "England")
GLOBES_df.tail()

      unid wbid   country  year        SES      gdppc  yrseduc  popshare
2081   716  ZWE  Zimbabwe  1940  52.746567   813.0000      NaN  0.001113
2082   716  ZWE  Zimbabwe  2010  27.091389  1388.9730      NaN  0.002074
2083   716  ZWE  Zimbabwe  1990  59.110970  2526.0723      NaN  0.002039
2084   716  ZWE  Zimbabwe  1900  54.722645   601.0000      NaN  0.000996
2085   716  ZWE  Zimbabwe  1960  53.811077   938.0000      NaN  0.001268

### Connect to local database

In [226]:
## A password is required, a database is not required
conn = pymysql.connect(host='localhost',
                             user='root',
                             password='[insertpassword]',
                             db='')

In [227]:
cursor = conn.cursor()

### Create Database

In [228]:
cursor.execute('drop database etl_project')

4

In [229]:
cursor.execute('CREATE DATABASE etl_project')

1

In [230]:
cursor.execute('USE etl_project')

0

### Use pandas to load csv converted DataFrame into database

In [231]:
WorldCupPlayers_df.head()

,RoundID,MatchID,TeamInitials,CoachName,LineUp,ShirtNumber,PlayerName,Position,Event
1,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
2,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
3,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
4,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
5,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN

In [232]:
engine = create_engine('mysql://root:[insertpassword]@localhost:3306/etl_project', echo=False)
GLOBES_df.to_sql(name='socioecomics', con=engine, if_exists = 'append', index=False)

In [233]:
WorldCups.to_sql(name='worldcups', con=engine, if_exists = 'append', index=False)

In [234]:
players_df.to_sql(name='players', con=engine, if_exists = 'append', index=False)

In [235]:
matches_df.to_sql(name='matches', con=engine, if_exists = 'append', index=False)

In [236]:
engine.table_names()

['matches', 'players', 'socioecomics', 'worldcups']

### Confirm That socioeconomics and World Cup can be joined by Country and year/decade
###### there are issues with country name changes throughout history

In [237]:
pd.read_sql_query('Select w.year, w.country as Cup_Location, w.Winner, s.gdppc as Winner_GDP_per_Capita, \
                    w.RunnersUp, l.gdppc as Loser_GDP_per_Capita \
                  from etl_project.worldcups w \
                  left join etl_project.socioecomics s on s.country like w.winner and left(s.year,3)=left(w.year,3) \
                  left join etl_project.socioecomics l on l.country like w.RunnersUp and left(l.year,3)=left(w.year,3) \
                  Order by Year Asc', con=engine)

,year,Cup_Location,Winner,Winner_GDP_per_Capita,RunnersUp,Loser_GDP_per_Capita
0,1930,Uruguay,Uruguay,4301.000,Argentina,4080.0000
1,1934,Italy,Italy,2918.000,Czechoslovakia,2435.1345
2,1938,France,Italy,2918.000,Hungary,2404.0000
3,1950,Brazil,Uruguay,4659.000,Brazil,1672.0000
4,1954,Switzerland,Germany,3881.000,Hungary,2480.0000
5,1958,Sweden,Brazil,1672.000,Sweden,6769.0000
6,1962,Chile,Brazil,2335.000,Czechoslovakia,4102.6890
7,1966,England,England,8645.000,Germany,7705.0000
8,1970,Mexico,Brazil,3057.000,Italy,9719.0000
9,1974,Germany,Germany,10839.000,Netherlands,11967.0000
10,1978,Argentina,Argentina,7302.000,Netherlands,11967.0000
11,1982,Spain,Italy,13149.000,Germany,14114.0000
12,1986,Mexico,Argentina,8206.000,Germany,14114.0000
13,1990,Italy,Germany,31287.070,Argentina,10833.5030
14,1994,USA,Brazil,10245.831,Italy,31141.9020
15,1998,France,France,29527.975,Brazil,10245.8310
16,2002,Korea/Japan,Brazil,11308.438,Germany,36764.5630
17,2006,Germany,Italy,36535.820,France,34896.3870
18,2010,South Africa,Spain,32506.434,Netherlands,45524.6640
19,2014,Brazil,Germany,40428.723,Argentina,18794.2700

### Join Player and match tables

In [238]:
pd.read_sql_query('SELECT PlayerName, count(b.matchID) as "NumberofGamesStarted" \
                    FROM etl_project.matches a \
                    join etl_project.players b on a.matchid=b.matchid \
                    Where b.lineup ="s"Group by PlayerName Order by count(b.matchID) desc', con=engine).head()

       PlayerName  NumberofGamesStarted
0            LAHM                    32
1           OSCAR                    31
2           KLOSE                    31
3  SCHWEINSTEIGER                    30
4        Mï¿½LLER                    30